<!DOCTYPE html>
<html $if(lang)$lang="$lang$"$endif$>
<head>
  <meta charset="utf-8">
  <meta name="generator" content="pandoc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
$if(name)$
  <meta name="author" content="$name$">
$endif$
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$">
$endif$
  <title>$if(title-prefix)$$title-prefix$ - $endif$$name$</title>
  <style type="text/css">code{white-space: pre;}</style>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
$if(quotes)$
  <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$">
$endfor$
$if(math)$
  $math$
$endif$
$if(analytics)$
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '$analytics$', 'auto');
  ga('send', 'pageview');

</script>
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body style="max-width: 700px; margin-left: 80px; margin-right: 80px; font-family: arial,sans-serif,auto;">
$for(include-before)$
$include-before$
$endfor$
<header>
$if(name)$
<h1 class="title">$name$</h1>
$endif$
<div class="contact">
  /
  $if(email)$<a id="email-link" href="mailto:$email$">$email$</a> / $endif$
  $if(twitter)$<a id="twitter-link" href="https://twitter.com/$twitter$">@$twitter$</a> / $endif$
  $if(linkedin)$<a id="linkedin-link" href="https://www.linkedin.com/in/$linkedin$">LinkedIn</a> / $endif$
  $if(gscholar)$<a id="gscholar-link" href="https://scholar.google.com/citations?user=$gscholar$">Google Scholar</a> / $endif$
  $if(orcid)$<a id="orcid-link" href="https://orcid.org/$orcid$">ORCiD</a> / $endif$
  $if(github)$<a id="github-link" href="https://github.com/$github$">Github</a> / $endif$
  $if(website)$<a id="website-link" href="$website$">Website</a> / $endif$
</div>
</header>
<hr>
$if(current)$
$endif$
$if(toc)$
<nav id="$idprefix$TOC">
$toc$
</nav>
$endif$
$body$
$for(include-after)$
$include-after$
$endfor$
<div class="permalink">
  <a href="$current$">
  $if(version)$
    Version: $version$
  $else$
    $if(date)$
      Version: $date$
    $else$
      Current Version
    $endif$
  $endif$
  </a>
</div>
</body>
</html>
